.tag {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
  display: inline-block;
  line-height: 1.4;
  user-select: contain;
  max-width: 100%;
  align-items: center;
  background: var(--color-text);
  color: var(--color-background);
  transition: background 0.5s, color 0.2s;
}

.tag * {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/* Variants */
.bold {
  font-weight: bold;
}

.minimal {
  padding: 0;
}

.default {
  padding: 0 var(--space-3);
  font-size: 1.1rem;
}

.small {
  padding: 0 var(--space-2);
  font-size: 0.9rem;
}

/* Interactive */
.link {
  cursor: pointer;
}

.link:hover {
  background: var(--color-background);
  color: var(--color-text);
}