.matchbooksContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--space-4);
  width: 100%;
  padding: var(--space-3);
}

@media (max-width: 768px) {
  .matchbooksContainer {
    grid-template-columns: 1fr;
  }
}

.matchbookCard {
  width: 100%;
  padding: 0;
}

.matchbookTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: var(--space-2);
}

.matchbookMeta {
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: var(--space-2);
}

.matchbookDescription {
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.5;
  height: 63px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
} 